@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$shades-of-grey-primary: mat-palette($mat-grey);
$shades-of-grey-accent:  mat-palette($mat-blue-grey);
$shades-of-grey-warn:   mat-palette($mat-blue);

$shades-of-grey: mat-light-theme(
  $shades-of-grey-primary,
  $shades-of-grey-accent,
  $shades-of-grey-warn
);

mat-card {
  background-color: mat-color($shades-of-grey-accent);
}

@include angular-material-theme($shades-of-grey);
